@{
    ViewBag.Title = "Always Encrypted (Sql Data) Demo";
}

<div>
    
    <div>@ViewBag.Test1Updated</div>

    <div>@ViewBag.Test2Updated</div>
    
    <div>@ViewBag.Test1Inserted</div>

    <div>@ViewBag.Test2Inserted</div>

    <div>@ViewBag.Principal</div>

    <div>@ViewBag.Error</div>

</div>