@{
    ViewBag.Title = "Always Encrypted (Sql Data) Demo";
}

<div>

    <div>@ViewBag.Test1</div>

    <div>@ViewBag.Test2</div>
   
    <div>@ViewBag.Test3</div>

    <div>@ViewBag.Principal</div>

    <div>@ViewBag.Error</div>

</div>